.list-item {
    background: #373737;
    /*padding: 30px;*/
    margin: 30px;
    padding: 30px;
    /*border-bottom: 1px #ccc outset;*/
    display: flex;
    flex-flow: column;
    justify-content: space-between;
}


.button {
    background: #292929;
    color: #fff;
    border: none;
    padding: 8px 20px 12px 20px;
    margin: 1%;
    align-self: center;
    cursor: pointer;
}

.button:hover {
    background: #303030;
}

.del {
    background: #292929;
    color: #fff;
    border: none;
    padding: 5px 9px;
    border-radius: 50%;
    cursor: pointer;
    float: right;
}

.del:hover {
    background: #343434;
}

.buttons {
    display: flex;
    flex-flow: row;
    justify-content: center;
}

.oneLine {
    display: inline;
}

.course-name {
    font-size: 30px;
}


